.body {
    background-color: #e8e6de;
  }

.nav-item{
margin-right: 34px;
margin-top: -20px;

}

.nav * {

    font-size: ;

}
#navbaricon > button{

font-size;


}

#footertext {

padding-right: 20px;

}
a :hover{

  background-color:ghostwhite;
}
